DATABASE_DAP_NAME=dtbird_dap_v2
DATABASE_DAP_ENGINE=django.db.backends.mysql
DATABASE_DAP_USER={{database_user}}
DATABASE_DAP_PASSWORD={{db_pass}}
DATABASE_DAP_HOST={{database_host}}
DATABASE_DAP_PORT=3306


DATABASE_AQUILA_NAME=dtbird_aquila
DATABASE_AQUILA_ENGINE=django.db.backends.mysql
DATABASE_AQUILA_USER={{database_user}}
DATABASE_AQUILA_PASSWORD={{db_pass}}
DATABASE_AQUILA_HOST={{database_host}}
DATABASE_AQUILA_PORT=3306

EMAIL_USER=system@dtbird.com
EMAIL_PASSWORD=Dtbird@Liquen2012

