[program:gunicorn_{{ proj_name }}]
command={{ venv_path }}bin/gunicorn {{proj_name}}.wsgi:application -c gunicorn.conf.py -p gunicorn.pid
directory={{ django_path }}
user={{ user }}
autostart=true
autorestart=true
redirect_stderr=true
environment=LANG="{{ locale }}",LC_ALL="{{ locale }}",LC_LANG="{{ locale }}"
