#! /usr/bin/python

"""
 THis is the file of configuration settings for daemon works. The database configuration and others importants settings
"""

__author__ = 'carlos'

database_host = '{{database_host}}'
database_port = '{{database_port}}'
database_user = '{{database_user}}'
database_password = '{{db_pass}}'
dap_database_name = 'dtbird_dap_v2'
aquila_database_name = 'dtbird_aquila'
dtbird_database_host = '{{database_host}}'
dtbird_database_port = '{{database_port}}'
dtbird_database_user = '{{database_user}}'
dtbird_database_password = '{{db_pass}}'
dtbird_database_name = 'dtbird'
video_folder = '{{VIDEO_PATH}}'

mail_receiver=['server@dtbird.com']
mail_recipient=('system@dtbird.com', 'Dtbird@Liquen2012')
