{% for item in groups['all'] %}
define host {
        use                          linux_host
        host_name                    {{ hostvars[item]['ansible_facts']['hostname']}}
        hostgroups                   linux-{{ hostvars[item]['ansible_facts']['virtualization_role'] }},linux-{{hostvars[item].ansible_virtualization_type}}

        alias                         {{ hostvars[item]['ansible_facts']['hostname']}}
        address                       {{ item }}
        register                       1
        icon_image                    vendors/{{ hostvars[item].ansible_distribution |lower}}.gif
        statusmap_image               vendors/{{ hostvars[item].ansible_distribution |lower}}.gd2
        parents                       {{ hostvars[item].parents}}
        }
{% endfor %}

{% for item in groups['all'] %}
#{{ item }}
#{{ hostvars[item]['ansible_facts']['virtualization_role'] }}
#{{ hostvars[item].ansible_distribution |lower}}
#{{ hostvars[item].ansible_distribution_major_version|lower }}
#{{ hostvars[item].ansible_distribution_version |lower}}
#{{ hostvars[item].parents}}
#{{hostvars[item].ansible_virtualization_type}}
{% endfor %}