{% for item in switch %}
define host {

    use                     generic-switch                      ; Inherit default values from a template
    host_name               {{item[0]}}                          ; The name we're giving to this switch
    alias                   {{item[1]}}            ; A longer name associated with the switch
    address                 {{item[2]}}                       ; IP address of the switch
    hostgroups              switches                            ; Host groups this switch is associated with
    icon_image              {{item[3]}}.gif
    statusmap_image         {{item[3]}}.gd2
    parents                 {{item[4]}}
    notification_interval    150
    notification_period        workhours
    notification_options        d,u,r
}
{% endfor %}
{% for item in router %}
define host {

    use                     generic-switch                      ; Inherit default values from a template
    host_name               {{item[0]}}                          ; The name we're giving to this switch
    alias                   {{item[1]}}            ; A longer name associated with the switch
    address                 {{item[2]}}                       ; IP address of the switch
    hostgroups              switches                            ; Host groups this switch is associated with
    icon_image              {{item[3]}}.gif
    statusmap_image         {{item[3]}}.gd2
    notification_interval    150
    notification_period        workhours
    notification_options        d,u,r
}
{% endfor %}

{% for item in cameras %}
define host {

    use                     generic-switch                      ; Inherit default values from a template
    host_name               {{item[0]}}                          ; The name we're giving to this switch
    alias                   {{item[1]}}            ; A longer name associated with the switch
    address                 {{item[2]}}                       ; IP address of the switch
    hostgroups              cameras                            ; Host groups this switch is associated with
    icon_image              {{item[3]}}.png
    statusmap_image         {{item[3]}}.png
    parents                 {{item[4]}}
    notification_interval    150
    notification_period        workhours
    notification_options        d,u,r
}
{% endfor %}