#!/usr/bin/env bash

#### Script para realizar las salvas de las bases de datos de AQUILA y DAP ##########

################################################################
################## Update below values  ########################
FILE_NAME='{{name_file}}'
DB_BACKUP_PATH='{{ansible_env.HOME}}/backup-database'
MYSQL_HOST='localhost'
MYSQL_PORT='{{database_port}}'
MYSQL_USER='{{database_user}}'
MYSQL_PASSWORD='{{db_pass}}'
DATABASE_NAME='{{databases}}'
BACKUP_RETAIN_DAYS=5   ## Number of days to keep local backup copy
BACKUP_HOST='{{host_backup}}'
SSH_KEY_PATH='{{ansible_env.HOME}}/.ssh/wtg'
USER_SSH='{{host_ssh_user}}'
DB_BACKUP_PATH_HOST='{{host_backup_path}}'
