upstream {{ proj_name }} {
    server 127.0.0.1:{{ gunicorn_port }};
}

server {

    listen 80;


    server_name {{ domains|join(", ") }};
    client_max_body_size 10M;
    keepalive_timeout    15;
    # Logs de nginx
    access_log /var/log/{{proj_name}}/nginx.access.log;
    error_log  /var/log/{{proj_name}}/nginx.error.log;


    location / {
        proxy_redirect      off;
        proxy_set_header    Host                    $host;
        proxy_set_header    X-Real-IP               $remote_addr;
        proxy_set_header    X-Forwarded-For         $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Protocol    $scheme;
        proxy_pass          http://{{ proj_name }};
    }

    location /static/ {
        alias           {{ django_path }}/static-served/;
        access_log      off;
        log_not_found   off;
        expires 365d;
    }

    location /robots.txt {
        alias           {{ django_path }}/static;
        access_log      off;
        log_not_found   off;
    }

    location /favicon.ico {
        alias            {{ proj_path }}/static/images;
        access_log      off;
        log_not_found   off;
    }
}
